<h2 mat-dialog-title>{{ 'recipes.add_to_portfolio' | translate }}</h2>
<mat-dialog-content>
  <div *ngIf="availableRecipes.length === 0">
    <p>{{ 'recipes.no_available' | translate }}</p>
  </div>
  <mat-selection-list #recipeList>
    <mat-list-option
      *ngFor="let recipe of availableRecipes"
      [value]="recipe.id"
      (click)="toggleRecipeSelection(recipe.id)"
      [selected]="isRecipeSelected(recipe.id)"
    >
      <img matListItemAvatar [src]="recipe.imageUrl" [alt]="recipe.name" style="object-fit: cover;" />
      <span matListItemTitle>{{ recipe.name }}</span>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'portfolio.actions.cancel' | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onAddRecipes()"
    [disabled]="selectedRecipes.length === 0"
  >
    {{ 'portfolio.add_recipes' | translate }}
  </button>
</mat-dialog-actions>
